<div class="conteiner">
    <div class="contenedor">
        <img src="assets/img/diego.png" alt="Diego Kemer">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis culpa accusantium laboriosam, magni tempore quam quos! Facere soluta corporis est reprehenderit debitis officiis excepturi. Eos cum sapiente perferendis molestiae itaque!
        Porro, adipisci et laboriosam rem explicabo sit consequuntur facilis eveniet cupiditate? Dignissimos ex dolore nam eligendi corrupti vel ratione. Itaque, aperiam eius officia ratione saepe asperiores veniam quo eaque facere.
        Excepturi animi vitae quidem quo ex alias optio praesentium aliquid autem saepe incidunt corrupti accusamus quasi consequatur, dolores commodi molestiae. Et impedit dolor saepe sit ipsam alias enim beatae itaque.
        Blanditiis, repellendus. Impedit facilis iste maxime labore at unde, aspernatur alias amet aperiam voluptates sunt expedita dolorem. Animi illo harum eligendi blanditiis, ex, delectus voluptate ratione rerum nemo quia ipsam?
        Autem eveniet veniam est reprehenderit velit nihil, doloremque deleniti unde temporibus veritatis dolorum aut ipsam reiciendis porro, obcaecati laudantium ratione, quisquam sunt laborum quia ab pariatur voluptatum! Assumenda, adipisci sit.
        </p>
    </div>
</div>
