<div class="conteiner">
    
    <div class="contenedor" *ngIf="!editarAbout">
        <div class="titulo">
            <div>
                <h2>Sobre mí</h2>
                <hr #hr>
                <hr #hr>
            </div>
            
        </div>
        
        <div class="content">
            <button (click)="editar()" class="edit" *ngIf="ruteEdit"><i class="icofont-edit-alt"></i></button>
            <div class="imagen">
                <img src={{usuario?.foto_portada}} alt="Diego Kemer">
                <a href="assets/img/C.V_Diego Kemer.pdf" download="C.V_Diego Kemer.pdf">Descargar CV</a>
            </div>
            
            <p>{{usuario?.sobre_mi}}
            </p>
        </div>
        
    </div>
    <app-form-about *ngIf="editarAbout"  (cierre)="noEditar()" [user]="usuario"></app-form-about>
</div>
