<div class="container">
    <h2>Works <i (click)="open()" title="Agregar" class="icofont-plus" *ngIf="ruteEdit"></i></h2>
    <app-form-proyecto *ngIf="crear" [user]="user" (apaga)="apaga()"></app-form-proyecto>
    <div class="works">
        <app-item-work *ngFor="let item of user?.proyectos" [proyecto]="item" [user]="user"></app-item-work>
        <app-work-carousel></app-work-carousel>
        
    </div>
    <app-form-proyecto *ngIf="edit" [proyecto]="proyecto" [user]="user" (apaga)="off()"></app-form-proyecto>
    <div class="piso">
    </div>
</div>
