<div class="nav">
    <div class="contenido">
        <div class="logo">
            <img src="assets/img/logo-inti-arg-blanco.png" alt="">
            <h4>ArgentinaPrograma</h4>
        </div>
        <div class="botones">
            <button title="Editar usuario" *ngIf="login" (click)="navegar()" routerLink="/home/admin"><i class="icofont-tools"></i></button>
            <button title="Ir al home" *ngIf="!login" (click)="navegarAlHome()" routerLink="/home/"><i class="icofont-home"></i></button>
            <button title="Salir del modo editar" *ngIf="!login && hayCookie" (click)="salir()">Cerrar</button>
        </div>
    </div>
    <hr>
</div>
