<div class="contenedor">
    <div class="contenido">
        <div class="texto">
            <button (click)="mostrar()" class="contacto"><i class="icofont-edit-alt"></i></button>
            <h1>{{user?.name}} {{user?.lastname}}</h1>
            <h2>{{user?.profesion}} {{user?.nivel}}</h2>
            <ul>
                <li><b>Edad:</b> {{user?.edad}}</li>
                <li><b>Nacionalidad:</b> {{user?.nacionalidad}}</li>
            </ul>
            <button>Contactar <i class="icofont-arrow-right"></i></button>
        </div>
        <div class="imgEIcons">
            <img src="https://images.unsplash.com/photo-1534294228306-bd54eb9a7ba8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                alt="Louis Reed">
        </div>

    </div>
    <div class="redes">
        <div class="red">
            <hr>
            <div class="enlaces">
                <a href=""><i class="icofont-instagram"></i></a>
                <!-- <a href=""><i class="icofont-facebook"></i></a> -->
                <a href=""><i class="icofont-code"></i></a>
                <a href=""><i class="icofont-youtube-play"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
            </div>
        </div>

    </div>
</div>
<app-form-user [user]="user" *ngIf="editar | async"></app-form-user>