.contenedor{
    width: 100%;
    height: 100vh;
    background: var(--prim);
    align-items: center;
    display: flex;
}
.contenido{
    position: relative;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    height: max-content;

}

.contenido .texto{
    color: #fff;
    font-size: 25px;
    width: 40%;
    animation: izquierda 2s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@keyframes izquierda {
    0%{transform: translateX(-100%); opacity: 0;}
    80%{transform: translateX(10%); opacity: 1;}
    100%{transform: translateX(0%); opacity: 1;}
}
.contenido .texto h1{
    margin: 10px 0px;
    font-size: 70px;
    text-shadow: 8px 8px 5px var(--seg);
}
.texto .nombre{
    width: max-content;
    display: flex;
    flex-direction: column;
}
.texto .nombre hr{
    width: 0%;
    margin-bottom: 5px;
    box-shadow:  1px 1px 5px var(--seg);
    animation: lineas 1s linear forwards;
    animation-delay: 2s;
}
@keyframes lineas {
    0%{width: 0%;}
    100%{width: 90%;}
}
.texto .nombre hr.line2{
    border: solid 2px var(--seg);
    box-shadow:  1px 1px 1px var(--seg);
    align-self: flex-end;
}
.texto .nombre hr.line3{
    align-self: center;
}
.contenido .texto a{
    margin: 20px 0px;
    padding: 20px 50px 20px 50px;
    font-size: 30px;
    width: max-content;
    color: #fff;
    background: #000;
    border-radius: 232px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border: solid .5px #fff;
    box-shadow: 1px 1px 10px var(--seg),
                -1px -1px 10px var(--seg);
}
.contenido .texto a i.icofont-arrow-right{
    margin-left: 20px;
    font-weight: lighter;
}
.texto ul{
    list-style: none;
    margin: 20px 0px;
}
.contenido .imgEIcons{
    animation: derecha 2s;
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: rgba(255, 255, 255, 0.973);
}
.imgEIcons .effect{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    box-shadow: inset 10px 14px 14px 10px rgba(44, 43, 43, 0.692),
                inset -10px -14px 14px 10px rgba(44, 43, 43, 0.692),
                inset 10px -14px 14px 10px rgba(44, 43, 43, 0.692),
                inset -10px 14px 14px 10px rgba(44, 43, 43, 0.692);
}
/* Efectos primera fila */
.imgEIcons .effect div{
    background: var(--prim);
}
.imgEIcons .effect .cubo1{
    animation: move-bottom .5s linear forwards;
    animation-delay: 2s;
}
.imgEIcons .effect .cubo2{
    animation: move-bottom .5s linear forwards;
    animation-delay: 2.2s;
}
.imgEIcons .effect .cubo3{
    animation: move-bottom .5s linear forwards;
    animation-delay: 2.4s;
}
.imgEIcons .effect .cubo4{
    animation: move-bottom .5s linear forwards;
    animation-delay: 2.6s;
}

/* Efectos segunda fila */
.imgEIcons .effect .cubo8{
    animation: move-bottom .5s linear forwards;
    animation-delay: 3s;
}
.imgEIcons .effect .cubo7{
    animation: move-bottom .5s linear forwards;
    animation-delay: 3.2s;
}
.imgEIcons .effect .cubo6{
    animation: move-bottom .5s linear forwards;
    animation-delay: 3.4s;
}
.imgEIcons .effect .cubo5{
    animation: move-bottom .5s linear forwards;
    animation-delay: 3.6s;
}

/* Efectos tercera fila */
.imgEIcons .effect .cubo9{
    animation: move-bottom .5s linear forwards;
    animation-delay: 4s;
}
.imgEIcons .effect .cubo10{
    animation: move-bottom .5s linear forwards;
    animation-delay: 4.2s;
}
.imgEIcons .effect .cubo11{
    animation: move-bottom .5s linear forwards;
    animation-delay: 4.4s;
}
.imgEIcons .effect .cubo12{
    animation: move-bottom .5s linear forwards;
    animation-delay: 4.6s;
}


@keyframes move-bottom {
    0%{transform: translateY(0%);}
    90%{transform: translateY(100%);}
    100%{transform: translateY(100%); opacity: 0;}
}

.imgEIcons .tapar{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--prim);
    z-index: 1;
    animation: levantar-tapa 1s linear forwards;
    animation-delay: 5.5s;
}
@keyframes levantar-tapa {
    0%{height: 0%; display: none;}
    100%{height: 100%; display: block;}
}

.contenido .texto button.contacto{
    color: #fff;
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    top: 0px;
    right: 0px;
    box-shadow: none;
}
@keyframes derecha {
    0%{transform: translateX(100%); opacity: 0;}
    80%{transform: translateX(-10%); opacity: 1;}
    100%{transform: translateX(0%); opacity: 1;}
}
.contenido img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    animation: adelanta-img 1s linear forwards;
    animation-delay: 4.5s;
    filter: drop-shadow(1px 1px 5px #fff);
}
@keyframes adelanta-img {
    0%{transform: scale(1);}
    100%{transform: scale(2); z-index: 3;}
}
.contenedor .redes{
    position: absolute;
    color: #fff;
    left: 0px;
    bottom: 0px;
}
.contenedor .redes .red{
    position: relative;
    height: 100%;
}
.contenedor .redes .red hr{
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 50vh;
    width: 1px;
    z-index: 1;
}
.contenedor .redes .red .enlaces{
    position: relative;
    height: 50vh;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.contenedor .redes .red a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 20px;
    font-size: 20px;
    display: block;
    background-color: var(--prim);
}

/* Responsive ancho */
@media (max-width: 1500px) {
    .contenido .texto,
    .contenido .texto a{
        font-size: 20px;
    }
    .contenido .texto h1{
        font-size: 40px;
    }

}
@media (max-width: 1280px){
    .contenido .texto,
    .contenido .texto a{
        font-size: 16px;
    }
    .contenido .texto h1{
        font-size: 30px;
    }
    .contenido img{
        width: 250px;
        height: 250px;
    }
}
@media (max-width: 790px){
    .contenido .texto h1{
        font-size: 20px;
    }
    .contenido .texto{
        width: 75%;   
    }
    .contenido img{
        width: 200px;
        height: 200px;
    }
    .contenido .texto a.contacto{
        margin: 0px;
        padding: 0px;
    }
}
@media (max-width: 700px) {
    .contenedor{
        height: 80vh;
        position: relative;
    }
    .contenido .imgEIcons{
        display: none;
    }
    .contenedor .redes .red .enlaces{
        height: 40vh;
    }
    .contenedor .redes .red hr{
        height: 40vh;
    }
    .contenido{
       height: 50%; 
    }
}


/* Responsive alto */
@media (max-height: 790px){
    .contenedor .contenido{
        height: 65%;
    }
    .contenedor .redes .red a{
        padding: 10px 20px;
        margin: 10px;
        font-size: 14px;
    }
}
@media (max-height: 600px){
    .contenedor .redes .red .enlaces,
    .contenedor .redes .red hr{
        height: 60vh;
    }

}
@media (max-height: 400px){
    .contenedor .contenido{
        height: 60%;
    }
    .contenido .texto{
        font-size: 16px;
        width: 50%;
    }
    .contenedor .redes .red .enlaces,
    .contenedor .redes .red hr{
        height: 70vh;
    }
    .contenido img{
        width: 200px;
        height: 200px;
    }

}