.container{
    color: #fff;
    margin: 50px 0px;
    font-size: 20px;
    border-left: solid 1px #fff;
    padding-left: 50px;
    margin-right: 50px;
    position: relative;
    font-size: 20px;
}
.container .lista{
    margin: 20px;
}
.container i{
    position: absolute;
    left: -11px;
    top: 0px;
    background: var(--prim);
    padding: 10px 0px;
}
.edit{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.edit.save{
    top: 70px;
}
.lista li input, textarea{
    background: transparent;
    border: none;
    border-bottom: solid .7px #000;
    padding: 10px;
    outline: none;
    filter: invert();
    font-size: 20px;
}
.descripcion{
    display: flex;
    flex-direction: row;
}
