<div class="container">
    <div [formGroup]="formGroup">
        <ng-content select="[titulo]"></ng-content>
        <div class="lista">
            <li>Título: <input formControlName="titulo" type="text"></li>
            <li>Institución: <select name="inst" id="inst" (change)="ver($event)">
                    <option *ngFor="let item of instituciones" value="{{item | json}}">{{item?.name}}</option>
                </select> <a title="Agregar institución" (click)="form()"><i class="icofont-plus"></i></a></li>

            <li>Fecha inicio: <input formControlName="fecha_inicio" type="date"></li>
            <li>Fecha de finalización: <input formControlName="fecha_fin" type="date"></li>
            <li>Modalidad: <input formControlName="modalidad" type="text"></li>
        </div>
    </div>
    <button class="edit" title="Cancelar" (click)="ocultar()"><i class="icofont-close"></i></button>
    <div *ngIf="data">
        <button class="edit save" title="Guardar" (click)="sendEdit()"><i class="icofont-save"></i></button>
    </div>
    <div *ngIf="!data">
        <button class="edit save" title="Guardar" (click)="sendCrear()"><i class="icofont-save"></i></button>
    </div>
    

    <i class="icofont-briefcase"></i>
    <div class="form" *ngIf="agrega" [formGroup]="form2">
        <button class="edit" title="Cancelar" (click)="cancelar()"><i class="icofont-close"></i></button>
        <button class="edit save" title="Guardar" (click)="sendIns()"><i class="icofont-save"></i></button>
        <div>
            <h3>Agregar institución</h3>
            <li>Nombre: <input formControlName="name" id="name" type="text"></li>
            <li>Provincia: <input formControlName="provincia" type="text"></li>
            <li>Localidad: <input formControlName="localidad" type="text"></li>
            <li>Logo: 
                <input formControlName="logo" type="text" value="{{logo}}" hidden>
                <input id="logo" (change)="uploadImg($event)" accept=".jpg, .png" hidden type="file"> <label for="logo"><i class="icofont-image"></i></label></li>
            <img src="{{logo}}" alt="">
        </div>
    </div>
</div>