<div class="container" *ngIf="!editar">
    <img src="{{data?.institucion?.logo}}" alt="">
    <div class="contacto" *ngIf="ruteEdit">
        <button (click)="mostrar()"><i class="icofont-edit-alt"></i></button>
        <button (click)="eliminar()"><i class="icofont-ui-delete"></i></button>
    </div>
    
    <h3>{{data?.titulo}}</h3>
    <div class="lista">
        <div><li></li><p><b>Institución:</b> {{data?.institucion?.name}}</p></div>
        <div><li></li><p><b>Localidad:</b> {{data?.institucion?.localidad}}</p></div>
        <div><li></li><p><b>Provincia:</b> {{data?.institucion?.provincia}}</p></div>
        <div><li></li><p><b>Fecha inicio:</b> {{data?.fecha_inicio}}</p></div>
        <div><li></li><p><b>Fecha fin: </b>{{data?.fecha_fin}}</p></div>
        <div><li></li><p><b>Modalidad:</b> {{data?.modalidad | titlecase}}</p></div>
    </div>
    <i class="icofont-book"></i>
</div>
<app-form-education *ngIf="editar" [data]="data" [user]="user" (cerrar)="oculta()">
    <h3 titulo>Editar datos</h3>
</app-form-education>
