.container{
    color: #fff;
    margin: 50px 0px;
    font-size: 20px;
    border-right: solid 1px var(--seg);
    padding-left: 50px;
    margin-right: 50px;
    position: relative;
    font-size: 20px;
}
.container .lista{
    margin: 20px;
}
.container .lista div{
    display: flex;
    flex-direction: row;
}
.container .lista li{
    color: var(--seg);
    filter: drop-shadow(0px 0px 10px var(--seg)) brightness(2);
}
.container .lista p{
    color: #fff;
}
.container i.icofont-book{
    position: absolute;
    right: -11px;
    top: 40%;
    background: var(--prim);
    padding: 10px 0px;
}
.container img{
    width: 60px;
    position: absolute;
    top: -10px;
    left: -30px;
}
.container .contacto{
    position: absolute;
    right: 40px;
    top: 10px;
    display: flex;
    flex-direction: column;
}
.container .contacto button{
    background: transparent;
    font-size: 30px;
    cursor: pointer;
    margin-top: 10px;
    color: #fff;
    border: none;
    outline: none;
    transition: all .5s ease-in-out;
}
.contacto button:hover{
    transform: scale(1.2);
}

/* Responsive ancho */
@media (max-width: 1280px){
    .container{
        font-size: 18px;
    }
}
@media (max-width: 900px){
    .container{
        font-size: 16px;
    }
    .container .contacto{
        right: 20px;
    }
    .container .contacto button{
        font-size: 20px;
    }
    
}
@media (max-width: 600px) {
    .container{
        font-size: 14px;
        padding-left: 10px;
        margin-right: 10px;
        border: none;
    }
    .container img{
        width: 40px;
        height: 40px;
        top: -30px;
    }
    .container .contacto button{
        font-size: 16px;
    }
    .container i.icofont-book{
        display: none;
    }
}