<div class="container" *ngIf="!exp_edit">
    <div class="contacto" *ngIf="ruteEdit">
        <button (click)="mostrar()" title="Editar"><i class="icofont-edit-alt"></i></button>
        <button (click)="eliminar()"><i class="icofont-ui-delete"></i></button>
    </div>

    <h3>{{work?.titulo}}</h3>
    <div class="lista">
        <li>Puesto: {{work?.titulo}}</li>
        <li>Fecha inicio: {{work?.fecha_inicio | date}}</li>
        <li>Fecha fin: {{work?.fecha_fin | date}}</li>
        <li>Descripción: {{work?.description}}</li>
    </div>
    <i class="icofont-briefcase"></i>
</div>
<app-form-exp-work *ngIf="exp_edit" [usuario]="user" [work]="work" (exp_edit)="oculta()">
    <h3 titulo>Editar experiencia laboral</h3>
</app-form-exp-work>