<div class="container" *ngIf="!exp_edit">
    <div class="contacto" *ngIf="ruteEdit">
        <button (click)="mostrar()" title="Editar"><i class="icofont-edit-alt"></i></button>
        <button (click)="eliminar()"><i class="icofont-ui-delete"></i></button>
    </div>

    <h3>{{work?.titulo}}</h3>
    <div class="lista">
        <div><li></li><p><b>Puesto:</b> {{work?.titulo}}</p></div>
        <div><li></li><p><b>Fecha inicio:</b> {{work?.fecha_inicio | date}}</p></div>
        <div><li></li><p><b>Fecha fin:</b> {{work?.fecha_fin | date}}</p></div>
        <div><li></li><p><b>Descripción: </b>{{work?.description}}</p></div>
    </div>
    <i class="icofont-briefcase"></i>
</div>
<app-form-exp-work *ngIf="exp_edit" [usuario]="user" [work]="work" (exp_edit)="oculta()">
    <h3 titulo>Editar experiencia laboral</h3>
</app-form-exp-work>