<div class="contenedor">
    <div class="container">
        <div class="titulo">
            <h2>Experiencia laboral <i (click)="open()" class="icofont-plus" *ngIf="ruteEdit"></i></h2> 
            <hr #hr>
            <hr #hr>
        </div>
       
       <app-form-exp-work *ngIf="editar" [usuario]="user" (exp_edit)="oculta()">
            <h3 titulo>Agregar experiencia laboral</h3>
       </app-form-exp-work>
       <div class="experience">
        <app-work-experience *ngFor="let item of user?.trabajos" [user]="user" [work]="item"></app-work-experience>
       </div>
    </div>
</div>
