.contenedor{
    width: 100%;
    background: var(--prim);
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.container{
    color: #fff;
    width: 70%;
    font-size: 20px;
    margin: auto;
}


/* Responsive ancho */
@media (max-width: 1280px){
    .container{
        font-size: 18px;
        width: 80%;
    }
}
@media (max-width: 790px){
    .container{
        font-size: 16px;
    }
}
@media (max-width: 400px){
    .container{
        font-size: 14px;
    }
}