.contenedor{
    width: 100%;
    background: var(--prim);
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.container{
    color: #fff;
    width: 70%;
    font-size: 20px;
    margin: auto;
}
.contenedor .titulo{
    width: max-content;
    display: flex;
    flex-direction: column;
}
.titulo h2{
    z-index: 2;  
  }
  .titulo h2 i{
      background: #000;
      border-radius: 5px;
      padding: 10px;
      margin-left: 10px;
      cursor: pointer;
  }
.contenedor .titulo hr{
    margin-bottom: 5px;
    width: 0%;
}
.contenedor .titulo hr:nth-child(2){
    border: solid 1px var(--seg);
    align-self: flex-end;
}
@keyframes subrayar {
    0%{width: 0%;}
    100%{width: 90%;}
}

/* Responsive ancho */
@media (max-width: 1280px){
    .container{
        font-size: 18px;
        width: 80%;
    }
}
@media (max-width: 790px){
    .container{
        font-size: 16px;
    }
}
@media (max-width: 400px){
    .container{
        font-size: 14px;
    }
}