<div class="contenedor">
    <div class="container">
        <div class="titulo">
            <h2>Formación académica <i (click)="open()" title="Agregar" class="icofont-plus" *ngIf="ruteEdit"></i></h2>
            <hr #hr>
            <hr #hr>
        </div>
        
        <app-form-education *ngIf="editar"  [user]="user" (cerrar)="cierre()">
            <h3 titulo>Agregar estudio</h3>
        </app-form-education>
        <div class="items">
            <app-item-education *ngFor="let item of user?.estudios" [data]="item" [user]="user"></app-item-education>
        </div>
    </div>
</div>
