.container{
    width: 100%;
    color: #fff;
    text-align: center;
    background: var(--prim);
}
.container .skills{
    width: 70%;
    margin: auto;
    padding: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Responsive ancho */
@media (max-width: 1020px) {
    .container .skills{
      grid-template-columns: 1fr 1fr;  
    }
    
}
@media (max-width: 700px) {
    .container .skills{
      grid-template-columns: 1fr;  
    }
    
}