<div class="container">
    
    <div class="titulo">
        <div>
            <h2>Hard & Soft Skills</h2>
            <hr #hr>
            <hr #hr>
        </div>
    </div>
    
    <div class="skills">
        <app-item-skill color="#f33" num="70" texto="Curiosidad"></app-item-skill>
        <app-item-skill color="#f83" num="50" texto="comunicación"></app-item-skill>
        <app-item-skill color="#03f" num="30" texto="trabajo en equipo"></app-item-skill>
        <app-item-skill color="#3f3" num="80" texto="Autoaprendizaje"></app-item-skill>
        <app-item-skill color="#f03" num="75" texto="Responsabilidad"></app-item-skill>
        <app-item-skill color="#0ff" num="50" texto="Gestión del tiempo"></app-item-skill>
    </div>
</div>
