<div class="container">
    <h2>Hard & Soft Skills</h2>
    <div class="skills">
        <app-item-skill color="#f33" num="70" texto="javascript"></app-item-skill>
        <app-item-skill color="#f83" num="50" texto="typescript"></app-item-skill>
        <app-item-skill color="#03f" num="30" texto="java"></app-item-skill>
        <app-item-skill color="#3f3" num="80" texto="angular"></app-item-skill>
        <app-item-skill color="#f03" num="75" texto="css"></app-item-skill>
        <app-item-skill color="#0ff" num="50" texto="node"></app-item-skill>
    </div>
</div>
