<div class="container">
    <div class="redes">
        <div class="red">
            <hr>
            <div class="enlaces">
                <a href="#about"><i class="icofont-user-suited"></i></a>
                <a href="#experience"><i class="icofont-briefcase"></i></a>
                <a href="#education"><i class="icofont-book"></i></a>
                <a href="#skills"><i class="icofont-tools-alt-2"></i></a>
                <a href="#works"><i class="icofont-dashboard-web"></i></a>
            </div>
        </div>
    
    </div>
</div>
