.container{
    position: sticky;
    top: 30%;
    z-index: 5;
}
.redes{
    position: absolute;
    color: #fff;
    right: 20px;
    z-index: 10;
}
.redes .red{
    position: relative;
    height: 100%;
}
.redes .red hr{
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 50vh;
    width: 1px;
    z-index: 1;
}
.redes .red .enlaces{
    position: relative;
    height: 50vh;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.redes .red a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 20px;
    font-size: 20px;
    display: block;
    background-color: var(--prim);
    cursor: pointer;
}

/* Responsive ancho */
@media (max-width: 700px) {
    .redes .red a{
        padding: 10px;
        margin: 15px;
        font-size: 16px;
    }
}
@media (max-width: 500px) {
    .redes .red a{
        padding: 10px;
        margin: 10px;
        font-size: 14px;
    }
}
@media (max-width: 380px){
    .redes{
        right: 10px;
    }
}


/* Responsive altura */
@media (max-height: 1000px) {
    .redes .red a{
        padding: 10px;
        margin: 15px;
        font-size: 16px;
    }
    .redes .red .enlaces,
    .redes .red hr{
        height: 60vh;
    }
}
@media (max-height: 600px) {
    .container{
        top: 10%;
    }
    .redes .red .enlaces,
    .redes .red hr{
        height: 80vh;
    }
    .redes .red a{
        padding: 5px;
        margin: 5px;
        font-size: 14px;
    }
}
