<div class="container">
    <div class="redes">
        <div class="red">
            <hr>
            <div class="enlaces">
                <a (click)="emitirNavegacion('about')"><i class="icofont-user-suited"></i></a>
                <a (click)="emitirNavegacion('experience')"><i class="icofont-briefcase"></i></a>
                <a (click)="emitirNavegacion('education')"><i class="icofont-book"></i></a>
                <a (click)="emitirNavegacion('skills')"><i class="icofont-tools-alt-2"></i></a>
                <a (click)="emitirNavegacion('works')"><i class="icofont-dashboard-web"></i></a>
            </div>
        </div>
    
    </div>
</div>
