/* You can add global styles to this file, and also import other style files */
:root{
    --prim: #0C0C0D;
    --seg: #811F83;
}
:root::-webkit-scrollbar{
    width: 7px;
}
:root::-webkit-scrollbar-track{
    background: var(--prim);
}
:root::-webkit-scrollbar-thumb{
    background: var(--seg);
    border-radius: 5px;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    scroll-behavior: smooth;
}