
 <div class="container"  [formGroup]="formGroup">
    <button class="edit" title="Cancelar" (click)="ocultar()"><i class="icofont-close"></i></button>
    <div *ngIf="work">
        <button class="edit save" title="Guardar" (click)="sendEditar()"><i class="icofont-save"></i></button>
    </div>
    <div *ngIf="!work">
        <button class="edit save" title="Guardar" (click)="sendCrear()"><i class="icofont-save"></i></button>
    </div>

    <ng-content select="[titulo]"></ng-content>
    <div class="lista">
        <li>Título: <input formControlName="titulo" id="name" type="text"></li>
        <li>Fecha de inicio: <input formControlName="fecha_inicio" type="date"></li>
        <li>Fecha de finalización: <input formControlName="fecha_fin" type="date"></li>
        <li><p class="descripcion">Descripción: <textarea formControlName="description" name="about" ols="100" rows="auto"></textarea></p> </li>
    </div>
    <i class="icofont-briefcase"></i>
</div>