<div class="container">
    <div class="contenedor">
        <button (click)="ocultar()" class="cerrar"><i class="icofont-close"></i></button>
        <h1>Datos de usuario</h1>
        <div class="block-form">
            <label for="name">Nombre:</label>
            <input id="name" type="text">
        </div>
        <div class="block-form">
            <label for="lastname">Apellido:</label>
            <input id="lastname" type="text">
        </div>
        <div class="block-form">
            <label for="dni">DNI:</label>
            <input id="dni" type="number">
        </div>
        <div class="block-form">
            <label for="edad">Edad</label>
            <input id="edad" type="number">
        </div>
        <div class="block-form">
            <label for="nacionalidad">Nacionalidad</label>
            <input id="nacionalidad" type="text">
        </div>
        <div class="block-form">
            <label for="fecha_nac">Fecha de nacimiento:</label>
            <input id="fecha_nac" type="date">
        </div>
        <div class="block-form">
            <label for="foto_portada">Foto de portada:</label>
            <input id="foto_portada" type="file">
        </div>
        <div class="block-text">
            <label for="about">Sobre mí:</label>
            <textarea name="about" id="about" cols="30" rows="10"></textarea>
        </div>
    </div>
</div>
