<div class="container">
    <div class="contenedor" [formGroup]="formG">
        <button (click)="ocultar()" class="cerrar"><i class="icofont-close"></i></button>
        <h1>Datos de usuario</h1>
        <div class="block-form">
            <label for="name">Nombre:</label>
            <input formControlName="name" id="name" type="text">
        </div>
        <div class="block-form">
            <label for="lastname">Apellido:</label>
            <input formControlName="lastname" id="lastname" type="text">
        </div>
        <div class="block-form">
            <label for="dni">DNI:</label>
            <input formControlName="dni" id="dni" type="text">
        </div>
        <div class="block-form">
            <label for="edad">Edad</label>
            <input formControlName="edad" id="edad" type="number">
        </div>
        <div class="block-form">
            <label for="nacionalidad">Nacionalidad</label>
            <input formControlName="nacionalidad" id="nacionalidad" type="text">
        </div>
        <div class="block-form">
            <label for="fecha_nac">Fecha de nacimiento: </label>
            <input formControlName="fecha_nac" id="fecha_nac" type="date">
        </div>
        <div class="block-text">
            <button (click)="send()">Editar</button>
        </div>
    </div>
</div>
