<div class="container">
    <div class="contenedor" [formGroup]="formG">
        <button (click)="ocultar()" class="cerrar"><i class="icofont-close"></i></button>
        <h1>Datos de usuario</h1>
        <div class="block-form">
            <label for="name">Nombre:</label>
            <input formControlName="name" id="name" type="text">
        </div>
        <div class="block-form">
            <label for="lastname">Apellido:</label>
            <input formControlName="lastname" id="lastname" type="text">
        </div>
        <div class="block-form">
            <label for="profesion">profesion:</label>
            <input formControlName="profesion" id="profesion" type="text">
        </div>
        <div class="block-form">
            <label for="nivel">Nivel profesional: </label>
            <input formControlName="nivel" id="nivel" type="text">
        </div>
        <div class="block-form">
            <label for="edad">Edad</label>
            <input formControlName="edad" id="edad" type="number">
        </div>
        <div class="block-form">
            <label for="nacionalidad">Nacionalidad</label>
            <input formControlName="nacionalidad" id="nacionalidad" type="text">
        </div>
        
        <div class="block-text">
            <button (click)="send()">Editar</button>
        </div>
    </div>
</div>
