<div class="grande" *ngIf="llamarCarousel">
    <button class="boton" (click)="apagar()"><i class="icofont-close"></i></button>
        <div class="carousel">
            <div class="img">
                <div class="contImg">
                    <div class="imgPerfil">
                        <img src="{{datosDelCarru?.foto_portada}}" alt="">
                    </div>
                    <div class="otrasImg">
                        <div class="img-sec">
                            <img src="https://images.unsplash.com/photo-1658494787699-a2e0ed4c1064?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80" alt="">
                        </div>
                        <div class="img-sec">
                            <img src="https://images.unsplash.com/photo-1658516182117-c98a04f4ffa8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
                        </div>
                    </div>
                </div>
                
                <div class="text">
                    <span>{{datosDelCarru?.name}}</span>
                    <p>{{datosDelCarru?.descrption}}</p>
                </div>
            </div>
         </div>

        
</div>
